{% extends 'bootstrap3/bootstrap3.html' %}

{% load static %}


{% load bootstrap3 %}



{% block bootstrap3_extra_head %}

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
<link href="{% static 'base/css/style.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block bootstrap3_title %}
    {% block title %}
    Title Base!
    {% endblock %}
{% endblock %}

{% block top %}

{% endblock %}


<div>
    {% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a href="{% url 'index' %}" class="navbar-brand">Mistery Books</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="hvr-curl-top-right"><a href="{% url 'index' %}"></a></li>
                    <li class="hvr-curl-top-right"><a href="#about"></a></li>
                    <li class="hvr-curl-top-right"><a href="#contact"></a></li>
                </ul>
                <div class="navbar-form pullright">
                    {% if login_logout %}
                        Welcome, {{ uname }}!
                        <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                       Welcome, <a href="{% url 'loginpage' %}">Login</a> or
                    {% endif %}
                </div>
            </div>

        </div>
    </nav>

    <div class="container-fluid">
       <img src="{% static 'base/img/header_full.jpg' %} class='bg'"/>
        <div class="parallax">
            <div class="row">


            {% block body %}
            <div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
                Welcome to store!
            </div>
            {% endblock %}
                 </div>
        </div>
    </div>
    <div class="row text-center footer">
        <div class="col-md-2">
            <p>Footer text</p>
            {% block footer %}

            {% endblock %}
        </div>
    </div>
    {% endblock %}
    {% block content %}
    OLD without bootstrap Content
    {% endblock %}
</div>
<div>

</div>
